<router-outlet></router-outlet>
<div *ngIf="router.url === '/'; else back">
  <button routerLink="/firstTask">Zadanie 1</button><br/>
  <button routerLink="/secondTask">Zadanie 2</button><br/>
  <button routerLink="/thirdTask">Zadanie 3</button><br/>
  <button routerLink="/fourthTask">Zadanie 4</button><br/>
  <button routerLink="/fifthTask">Zadanie 5</button><br/>
  <button routerLink="/sixthTask">Zadanie 6</button><br/>
  <button routerLink="/seventhTask">Zadanie 7</button><br/>
  <button routerLink="/eighthTask">Zadanie 8</button><br/>
  <button routerLink="/ninthTask">Zadanie 9</button><br/>
</div>
<ng-template #back>
  <div>
    <button routerLink="/">Wróć</button>
  </div>
</ng-template>
